body {
	background: black;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	margin: 0%;
	width: 90%;
}
.postcard-body {
	display: flex;
}
.body-left {
	padding: 3%;
}
.body-left p {
	font-size: auto;
}
.body-right {
	padding: 3%;
}
.text-top {
	margin-top: 3%;
}

.body-right input {
	border-bottom: 2px solid grey;
}

.postcard-footer {
	text-align: center;
}

.postcard-footer button {
	padding: 1%;
	background-color: grey;
}
